release export-ignore
doc/imgs export-ignore
doc/datasheets export-ignore
bin export-ignore
obj export-ignore
tools/make-release.bat export-ignore
tools/fw-post-processor.py export-ignore
tools/dist export-ignore
tools/downloaded_bootloaders export-ignore
src-mcu/f051/Drivers export-ignore
src-mcu/g071/Drivers export-ignore
src-mcu/at32f421/Drivers export-ignore
.vscode export-ignore

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
